{% extends 'base.html.twig' %}

{% block main %}

<form class="bg-light p-5 contact-form" style="margin-bottom: 30px;">
    <h3 class="mb-4" style="text-align: center">Your Profile !</h3>
    <div class="row pt-md-4">
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex fadeInUp ftco-animated">
                    <a class="img img-2" style="background-image: url({{ asset("uploads/profile/" ~ user.file) }});" aria-disabled="true"></a>
                <div class="text text-2 pl-md-4">
                    <div class="meta-wrap">
                        <h3 class="mb-2">{{ user.firstName }} {{ user.lastName }}</h3>
                        {% if user.isAdmin %}
                        <p class="mb-2">Admin</p>
                        {% endif %}
                    </div>
                        <p>Username: {{ user.username }}</p>
                    <p>E-Mail: {{ user.email }}</p>
                    <p>Phone Number: {{ user.phone }}</p>
                    <a class="btn btn-success" href="{{ path('edit_user', {id : user.id}) }}" role="button" style=" margin-left: 60%; ">Edit Profile</a>
                    <a class="btn btn-danger" href="{{ path('change_user', {id : user.id}) }}" role="button">Change Password</a>
                </div>
            </div>

        </div>
    </div>
</form>

{% endblock %}