{% extends 'base.html.twig' %}

{% block main %}

    <div class="row pt-md-4">
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex fadeInUp ftco-animated">
                {% if app.user %}
                    <a href="#" class="img img-2" style="background-image: url({{ asset('images/image_1.jpg') }});"></a>
                {% else %}
                    <a href="{{ path('security_login') }}" class="img img-2" style="background-image: url({{ asset('images/image_1.jpg') }});"></a>
                {% endif %}
                <div class="text text-2 pl-md-4">
                    {% if app.user %}
                    <h3 class="mb-2"><a href="#">A Loving Heart is the Truest Wisdom</a></h3>
                    {% else %}
                    <h3 class="mb-2"><a href="{{ path('security_login') }}">A Loving Heart is the Truest Wisdom</a></h3>
                    {% endif %}
                    <div class="meta-wrap">
                        <p class="meta">
                            <span><i class="icon-calendar mr-2"></i>June 28, 2019</span>
                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                        </p>
                    </div>
{#                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary#}
{#                        regelialia.</p>#}
                    {% if app.user %}
                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                    {% else %}
                    <p><a href="{{ path('security_login') }}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}