{% extends 'base.html.twig' %}

{% block main %}

    <div class="row d-flex">
        <div class="col-xl-8 px-md-5 py-5">
            <div class="row pt-md-4">
                <div class="col-md-12">
                    <div class="blog-entry-2 ftco-animate fadeInUp ftco-animated">
                        <a class="img" style="background-image: url({{ asset("uploads/post/" ~ post.postImage) }});" aria-disabled="true"></a>
                        <div class="text pt-4">
                            <h3 class="mb-4"><a aria-disabled="true">{{ post.title }}</a></h3>
                            <p class="mb-4">{{ post.description }}</p>
                            <div class="author mb-4 d-flex align-items-center">
                                <a class="img" style="background-image: url({{ asset("uploads/profile/" ~ user.file) }});"></a>
                                <div class="ml-3 info">
                                    <span>Posted by</span>
                                    <h3><b>{{ user.firstName }} {{ user.lastName }}</b>, <span>{{ post.addedOn }}</span></h3>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-success" href="{{ path('post_edit', {id : post.id}) }}" role="button" style=" margin-left: 66%; ">Edit Post</a>
                        <a class="btn btn-danger" href="{{ path('post_delete', {id : post.id}) }}" role="button">Delete Post</a><br><br>
                        <form action="{{ path('comment', {'id' : post.id}) }}" method="post">
                            <div class="form-group">
                                <textarea name="comment[comment]" cols="30" rows="7" class="form-control" placeholder="Comment"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Comment" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                        <div class="bg-light p-5 contact-form">
                            <h3>Comments:</h3>
                            {% for comment in comments %}
                                <hr>
                            <div class="author mb-4 d-flex align-items-center">
                                <a class="img" style="background-image: url({{ asset("uploads/profile/" ~ comment.author.file) }});"></a>
                                <div class="ml-3 info">
                                    <h3>{{ comment.author.firstName }}, {{ comment.author.lastName }}</h3>
                                </div>
                            </div>
                                <div>
                                    <span style="display:block;width:425px;word-wrap:break-word;">{{ comment.comment }}</span><br>
                                    <span style="text-align: right; margin-left: 68%;"><b>{{ comment.addedOn }}</b></span>
                                    <a href="{{ path('delete_comment', {id : comment.id}) }}" class="btn btn-danger" role="button">Delete</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- END-->
        </div>
        <div class="col-xl-4 sidebar ftco-animate bg-light pt-5 fadeInUp ftco-animated">
            <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                <h3 class="sidebar-heading" style="text-align: center">My Posts</h3>
                {% set count = 0 %}
                {% for post in myPosts %}
                    <div class="block-21 mb-4 d-flex">
                        <a href="{{ path('post_view', {id : post.id}) }}" class="blog-img mr-4" style="background-image: url({{ asset("uploads/post/" ~ post.postImage) }});"></a>
                        <div class="text">
                            <h3 class="heading"><a href="{{ path('post_view', {id : post.id}) }}">{{ post.title }}</a>
                            </h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span>{{ post.addedOn }}</a></div>
                                {% for comment in myComments|slice( count ,1) %}
                                    <div><a><span class="icon-chat"></span> {{ comment }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                {% endfor %}
                {% if count == 0 %}
                    <p style="text-align: center">You haven't posts ? <a href="{{ path('post_create') }}">Create one !</a></p>
                {% endif %}
            </div>
        </div><!-- END COL -->
    </div>

{% endblock %}